body{
	direction: rtl;

}


.nav{
position: absolute;
top:8px;
right: 8px;
width:150px;
background-color: #669999;
font-family: Tahoma;
	
}

li,a{
	padding: 10px;
	color: #ffffff;
}

section{
	margin-right: 160px;
	background-color: #999966;
	width: 500px;
}
